<h2>Usage</h2>

This API exposes endpoints for listing and creating restaurant records.

Examples for accessing these endpoints are shown using the <a href="https://github.com/axios/axios">Axios</a> HTTP client.

In the URLs below, replace <code>YOUR-API-KEY</code> with the API key you created above.

<h3>Listing Restaurants</h3>

<pre><code class="language-js">import axios from 'axios';

axios.get('https://outside-in-dev-api.herokuapp.com/YOUR-API-KEY/restaurants')
  .then(response => console.log(response.data));</code></pre>

Output:

<pre><code class="language-json">[
  {
    "id": 1,
    "name": "Pasta Place",
    "created_at": "2020-02-27 07:43:58"
  },
  {
    "id": 2,
    "name": "Salad Place",
    "created_at": "2020-02-27 07:43:58"
  }
]</code></pre>

<h3>Creating a Restaurant</h3>

<pre><code class="language-js">import axios from 'axios';

axios.post(
  'https://outside-in-dev-api.herokuapp.com/YOUR-API-KEY/restaurants',
  { name: 'Sushi Place' },
)
  .then(response => console.log(response.data));</code></pre>

Response:

<pre><code class="language-json">{
  "id": 3,
  "name": "Sushi Place",
  "created_at": "2020-02-27 07:44:58"
}</code></pre>
