<div class="card">
  <div class="card-content">
    <span class="card-title">Creating an API Key</span>
    <p>Here is your API key:</p>
    <div class="input-field">
      <input type="text" value="<%= @app.api_key %>" onClick="this.select()" />
    </div>
    <p><em>Save it somewhere safe; you will not be able to see it again.</em></p>
  </div>
</div>

<%= render 'usage' %>
